{% extends "auctions/layout.html" %}

{% block body %}
{% if title %}
<h2>{{title}}</h2>
{% else%}
<h2>Active Listings</h2>
{% endif%}
<div class="card-deck row-cols-5">
    {% for listing in listings%}
    <div class="card">
        <img class="card-img-top " src="{{listing.photo}}" alt="No image provided">
        <h5 class="card-title  ml-2">
            {{listing.title}}: ${{listing.get_current_price|floatformat:2 }}
        </h5>
        <div class="card-body">
            <p class="card-text">{{listing.description}}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">Take a look</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}